# 默认：仓库所有文件由维护者审核
*                                   @futianren


.github/workflows/**               @futianren


requirements.txt                   @futianren
pyproject.toml                     @futianren
Pipfile                            @futianren
package.json                       @futianren
package-lock.json                  @futianren
pnpm-lock.yaml                     @futianren


Dockerfile                         @futianren
docker/**                          @futianren
scripts/deploy/**                  @futianren
